<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="Model A" connectionString="Data Source=10.50.112.19,49400;Initial Catalog=BB_INTERFACE;User ID=silink;Password=s1link"/>
    <add name="Model B" connectionString="Data Source=10.50.112.19,49401;Initial Catalog=BB_INTERFACE;User ID=silink;Password=s1link"/>
    <add name="Model C" connectionString="Data Source=10.50.112.19,49402;Initial Catalog=BB_INTERFACE;User ID=silink;Password=s1link"/>
  </connectionStrings>
  
    <appSettings>
      <add key="Title" value="DB Script Deployment Tools"/>
      <add key="DefaultServer" value ="Model B"/>
    </appSettings>
</configuration>